# サブディレクトリを含む hoge.dcu 等のファイルを無視したい
# ※ *.dcuはDelphiのコンパイル済みファイル
*.dcu
*.out
*.class
*.txt
*.swp

# トップディレクトリの*.exeファイルのみを無視対象にしたくなった、
# サブディレクトリは無視しない方向の場合
/*.exe
/.*

# cache ディレクトリの中身は無視したいけど、
# とにかく .htaccess は無視したくない場合("!"で除外設定)
# cache/ だと除外設定が上手くいかないのが謎？？
cache/*.*
!.htaccess

# *.oはC言語のコンパイル済みファイルなのでいらないけど、
# zlib/以下の*.oはいるなあ(除外指定)なんてとき
*.o
!zlib/*.o
